:root {
  --background-700: #2d0320;
  --background-400: #392b58;
  --background-300: #645e9d;
  --accent-400: #6c969d;
  --accent-300: #99d5c9;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-700);
  font-family: "Roboto Slab", serif;
  color: var(--white);
}

img {
  width: 100%;
}

header {
  display: flex;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;

  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  position: sticky;
  top: 0;
  padding: 2rem 0rem;

  background-color: var(--background-400);
  color: var(--white);
  border-bottom: 5px solid var(--accent-400);
  z-index: 99999;
}

header h2 {
  font-style: oblique;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: var(--accent-300);
}

.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: var(--accent-300);

  padding: 1rem;
  margin: 1rem;
}

nav a:hover {
  background-color: var(--background-300);
}

#bio {
  background-color: var(--background-400);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

#bio div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;

  gap: 2rem;
}

#bio h3 {
  font-size: 3rem;
}

#bio p {
  font-size: 2rem;
  max-width: 50ch;
}

#bio img {
  max-height: 30vh;
  object-fit: cover;
  object-position: top;
}

#work-examples {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  gap: 1rem;
}

.section-bar {
  margin: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: var(--background-400);
  box-sizing: border-box;
}

.work-example {
  background-color: var(--background-400);
  height: 100%;
  position: relative;
  min-height: 20vh;
  max-height: 50vh;
}

.work-example a {
  text-decoration: none;
  color: var(--accent-300);
}

.work-example h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--background-300);
  padding: 1.5rem;
}

.work-example img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

footer {
  width: 100%;
  min-height: 10vh;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-400);
  border-top: 5px solid var(--accent-400);
}

@media (width >= 768px) {
  #work-examples {
    grid-template-columns: repeat(2, 1fr);
  }

  #work-example-featured {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  header {
    flex-direction: row;
  }

  #bio {
    flex-direction: row;
  }

  #bio div {
    flex: 1 0 50vw;
  }

  #bio img {
    flex: 0 1 60vw;
    max-height: 40vh;
  }
}

@media (width >= 992px) {
  #work-examples {
    grid-template-columns: repeat(4, 1fr);
  }
}
