:root {
  --background-700: #2d0320;
  --background-400: #392b58;
  --background-300: #645e9d;
  --accent-400: #6c969d;
  --accent-300: #99d5c9;
  --white: #fff;
}

body {
  background-color: var(--background-700);
  font-family: "Roboto Slab", serif;
}

header {
  display: flex;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;

  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;
  padding: 2rem 0rem;

  background-color: var(--background-400);
  color: var(--white);
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2rem;
  font-style: oblique;
}

.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--accent-300);

  padding: 1rem;
  margin: 1rem;
}

nav a:hover {
  background-color: var(--background-300);
}

#work-examples {
  display: grid;
  /* grid-template-columns: repeat(1fr, 4); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
  gap: 1rem;
  min-height: 50vh;
}

#work-example-featured {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.work-example {
  background-color: var(--background-400);
  height: 100%;
  position: relative;
}

.work-example a {
  text-decoration: none;
  color: var(--accent-300);
}

.work-example h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--background-300);
  padding: 2rem 0;
}
